<div class="container">

    <div class="main">
        <div class="header">
            <h1>Listado de Usuarios</h1>
            <div class="icons">
                <i class="fas fa-search"></i>
                <i class="fas fa-bell"></i>
            </div>
        </div>

        <div class="profile-row">
            <div class="profile-card">
                <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=400" alt="Foto de perfil">
                <h2>Monica Muñoz</h2>
                <p>Usuaio</p>
                <a class="btn">Ver Perfil</a>
            </div>

            <div class="profile-card">
                <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Foto de perfil">
                <h2>Juan Pérez</h2>
                <p>Usuaio</p>
                <a class="btn">Ver Perfil</a>
            </div>
        </div>

        <div class="profile-row">
            <div class="profile-card">
                <img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Foto de perfil">
                <h2>Laura García</h2>
                <p>Usuaio</p>
                <a class="btn">Ver Perfil</a>
            </div>

            <div class="profile-card">
                <img src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Foto de perfil">
                <h2>Carlos Ramírez</h2>
                <p>Usuaio</p>
                <a class="btn">Ver Perfil</a>
            </div>
        </div>

        <div class="profile-row">
            <div class="profile-card">
                <img src="https://images.pexels.com/photos/1239291/pexels-photo-1239291.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Foto de perfil">
                <h2>Sofia López</h2>
                <p>Usuaio</p>
                <a class="btn">Ver Perfil</a>
            </div>
            <div class="profile-card">
                <img src="https://images.pexels.com/photos/697509/pexels-photo-697509.jpeg?auto=compress&cs=tinysrgb&w=400" alt="Foto de perfil">
                <h2>Andres Espinoza</h2>
                <p>Usuaio</p>
                <a class="btn">Ver Perfil</a>
            </div>
        </div>
    </div>
</div>