<div class="container">
    <!-- Contenido Principal -->
    <div class="main">
        <div class="header">
            <h1>Perfil de Administrador</h1>
            <div class="icons">
                <i class="fas fa-search"></i>
                <i class="fas fa-bell"></i>
            </div>
        </div>

        <div class="profile-card">
            <img src="https://images.pexels.com/photos/1037914/pexels-photo-1037914.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Foto de perfil">
            <h2>Monica Benalcazar</h2>
            <p>Rol: Administrador</p>
            <a href="#" class="btn">Editar Perfil</a>
            <a href="#" class="btn">Ver Estadísticas</a>
        </div>
    </div>
</div>
